*{
    margin: 0;
    padding: 0;
}

.plus-jakarta-sans-font {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.main{
    max-width: 1320px;
    margin: 0px auto;
}
.baner{
   background-image: linear-gradient( black , rgba(0, 0, 0, 0)) , url(/images/Banner\ Image.png);
   height: 600px;
   /* margin: 50px 140px 0px 140px; */
   border-radius: 16px;
   width: 1320px;
   margin: 0px auto;
   margin-top: 50px;
  
}
.baner-continer{
    padding: 177px 344px 177px 344px;
    text-align: center;
   
}
.title{
    font-size: 32px;
    font-weight: 600px;
    color: #FFFFFF;
}
.tit-dic{
    font-size: 72px;
    font-weight: 600;
    color: #FFFFFF;
}
.banar-2{
    margin: 120px 258px 120px 258px;
    width: 802px;
    height: 806px;
}
.banar-2 h1{
font-size: 88px;
font-weight: bold;
color: #FF0000;
text-align: center;
}
.baner-cot{
    text-align: center;
    margin-top: 48px;
}
.baner-cot h6{
font-size: 24px;
font-weight: 500px;
color:#FF0000;
}
.baner-cot h3{
margin-top: 16px;
font-size: 48px;
font-weight: bold;
color: #070211;
}
.baner-cot img{
    margin-top: 48px;
    width: 802px;
    height: 500px;
}
.bannar-3{
    background-image:linear-gradient(to right, black, rgba(0, 0, 0, 0)) , url(/images/Vectorrr.png);
    display: flex;
    border-radius: 16px;
   
}
.ban{
    margin: 126px;
}
.ban h1{
    color: #FFFFFF;
    font-size: 64px;
}
.ban p{
    color: #FFFFFF;
   font-size: 18px;
   margin-top: 24px;
    
}
.ban h5 {
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 48px;
    background-color:none;
}
.text-bo{
    margin-top: 120px;
    text-align: center;
    height: 482px;
   background-image: linear-gradient( to bottom , #ff00001a, #ff000000);
   border-radius: 16px;
}
.text-bo-ch{
    text-align: center;
    padding: 100px 386px 110px 386px;
}
.bo-ch{
    color: #070211;
    font-size: 32px;
    font-weight: 600;
}
.bo-ch span{
     font-size: 32px;
    font-weight: 600;
    color: #FF0000;
}
.text-bo-ch button {
    background-color: #FF0000;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    font-size: 20x;
    font-weight: bold;
    padding: 16px 32px 16px 32px;
    margin-top: 64px;
}
.banaer-4{
  display: flex;
  height: 463px; 
  margin-top: 120px; 
  border: 2px solid;
 
}
.baner-6 {
     padding: 104px 70px 0px; 
    padding-left: 0px;
}
.baner-6 h5{
    color: #FF0000;
    font-weight: 600px;
    font-size: 24px;
}
.baner-6 h1{
   color: #070211;
   font-size: 48px;
   font-weight: 800px;
   margin-top: 16px;
}
.baner-6 p{
    margin-top: 22px;
   
    font-weight: 300px;
    font-size: 20px;
  
}
.img-1{
    padding-left: 70px;
    padding-right: 118px;
    height: 463px;
    width: 463px;
}
.baner-9{
    padding: 112px 0px 0px;

}
.baner-9 h1{
    font-size: 48px;
    font-weight: bold;
    color: #FF0000;
   
}
.baner-9 p{
    margin-top: 16px;
    font-size: 20px;
    font-weight: 600px;
    color: #0702114f;
}

.baner-8{
    margin-top: 120px;
    text-align: center;
}
.img-father{
    display: flex;
    margin-top: 92px;
}

.bn-1{
    font-size: 24px;
    color: #070211;
    font-weight: 600;

}
.bn-2{
    font-size: 72px;
    font-weight: 800;
    color: #070211;
    margin-top: 16px;
}
.bn-2 span{
    color: #FF0000;
}
.bn-3{
    margin-top: 28px;
    font-size: 20px;
    font-weight: 400px;
    color: #0702118a;
}
.as{
 z-index: auto inherit;
}
.img-ch-2{
    display: block;
    text-align: center;
}

.ig-1{
    gap: 24px;
    width: 424px;
    height: 450px;
    display: flex;
    margin-top: 48px;
}
.ig-2{
    gap: 24px;
    width: 424px;
    height: 450px;
    display: flex;
    margin-top: 24px;
}
.baner-2{
    margin-top: 92px;
}
.baner-2 h5{
color: #FF0000;
font-size: 24px;
font-weight: 600;
}
.baner-2 h1{
    margin-top: 16px;
    font-size: 48px;
    font-weight: 800;
    color: #070211;
}
.baner-2 p{
    font-size: 20px;
    margin-top: 22px;
    font-weight: 600;
    color: #07021168;
}
.ls{
    background-color: #ff00001d;
    height: 616px;
    margin-top: 120px;
    border-radius: 16px;
}
.ls-1{
    text-align: center;
    padding: 80px 212px 200px 212px; 
    padding-top: 80px;
}
.ft-father{
    display: flex;
    background-color: #070211;
    height: 609px;
    max-width:1600px;
    margin-top: 120px;
    
}
.ft-1{
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 600;
    padding-top: 120px;
    padding-left: 140px;
    width: 375px;
    height: 80px;
}